/** --------------------------------
 -- PRESENTATION HOME PAGE
-------------------------------- */

#presentation {
    position: absolute;
    top: 15%;
    left: 5%;
    margin: auto;
    visibility: hidden;
    overflow: hidden;
}

.main-title {
    padding-top: 100px;
    padding-left: 50px;
    position: fixed;
}

.main-title span {
    font-size: 60px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    line-height: 1.2;
    user-select: none;
    color: white;
    font-family: Cyberfunk;
}

.main-title h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    padding-left: 5px;
    user-select: none;
}

.main-title a {
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #fff;
    color: #fff;
    background: none;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 14px 43px;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 0;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    margin: 0;
}

#presentation2 {
    position: absolute;
    top: 0;
    right: -100%;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#presentation2 a {
    margin-top: 10px;
    color: #226463;
    text-transform: uppercase;
    font-family: Cyberfunk;
    padding-bottom: 25px;
}

#presentation2 > div {
    width: 100%;
    height: 100%;
    background-image: url('../../../images/front/otoktone-circuits-dark.jpg');
    background-position: center;
    background-size: cover;
}

#presentation2 p {
    margin: auto;
    padding: 10px;
    color: white;
    width: 90%;
    border-width: 3px;
    border-style: solid;
    border-image: 
        linear-gradient(
        to bottom, 
        #226463, 
        rgba(0, 0, 0, 0)
        ) 1 100%;
}

#presentation2 .round {
    width: 50px;
    height: 50px;
    border: 2px #226463 solid;
    border-radius: 50%;
    padding: 10px;
    color: white;
}


#arrow-right {
    position: absolute;
    right: 5%;
    top: 45%;
    font-size: 3em;
    cursor: pointer;
    z-index: 97;
    visibility: hidden;
}

#arrow-left {
    position: absolute;
    right: 5%;
    top: 45%;
    font-size: 3em;
    cursor: pointer;
    visibility: hidden;
    z-index: 97;
    opacity: 0;
}

#arrow-down {
    visibility: hidden;
}

@media (max-width: 480px) {

    #presentation {
        left: 0;
    }

    .main-title {
        position: static;
        text-align: center;
        padding-top: 50px;
        padding-left: 0;
        width: 100%;
    }

    .main-title span {
        font-size: 25px;
        font-weight: 700;
        letter-spacing: .2em;
        line-height: 2em;
    }
    
    .main-title h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 40px;
        padding-left: 0;
    }

    .main-title a {
        width: 200px;
    }

    #presentation2 {
        position: absolute;
        top: 600px;
        right: 0;
    }

    #presentation2 > div {
        background-image: none;
        padding: 0 !important;
    }

    #presentation2 p {
        width: 100%;
        margin-bottom: 75px !important;
    }

    #arrow-right {
        display: none;
    }

    #arrow-left {
        display: none;
    }

    #arrow-down {
        visibility: visible;
        position: relative;
        right: 52%;
        top: 475px;
        font-size: 2em;
    }
}