/** --------------------------------
 -- CONTACT PAGE
-------------------------------- */

:root {
  --primary-color: #FCFDFD;
  --secondary-color: #818386;
  --bg-color: black;
  --button-color: #818386;
  --h2-color: #FCFDFD;
}

[data-theme="dark"] {
  --primary-color: #010712;
  --secondary-color: #818386;
  --bg-color: #FCFDFD;
  --button-color: #3B3636;
  --h2-color: #3F444C;
}

.contact-container {
  display: flex;
  height: 100%;
  background: var(--bg-color);
}

.left-col {
  width: 45vw;
  height: 100%;
  background-image: url("https://i.gifer.com/5Xnj.gif");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.75;
}

.right-col {
  background: var(--bg-color);
  width: 50vw;
  height: 100vh;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

h2, label, button {
  font-weight: 400;
  letter-spacing: 0.1rem;
}

h2 {
  color:var(--h2-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

#contact-form p {
  color: var(--secondary-color);
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  width: 40vw;
  margin: 0.25rem 0;
}

label {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 0.625rem;
}

form {
  width: 100%;
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0;
}

.form-group > input {
  color: var(--primary-color);
}

#contact_nom, #contact_mail, #contact_message {
  color: var(--primary-color);
  font-weight: 500;
  background: var(--bg-color);
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}

#contact_nom:focus, #contact_mail:focus, #contact_message:focus {
  font-weight: 500;
}

.form-control {
  border-radius: 0;
}

#submit-button {
  text-transform: uppercase;
  font-weight: 300;
  background: var(--button-color);
  color: var(--bg-color);
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#submit-button:hover {
  opacity: 0.65;
}

  
@media only screen and (max-width: 950px) {
  h2 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.7rem;
  }
  #contact_nom, #contact_mail, #contact_message, #submit-button {
    font-size: 0.65rem;
  }
  #submit-button {
    width: 7rem;
  }
  .theme-switch-wrapper {
    width: 250px;
  }
}

@media only screen and (max-width: 480px) {
  #contact-form {
    overflow: hidden;
  }
  #contact-form form {
    margin-top: 10px;
    width: 100%;
  }
  .left-col {
    display: none;
  }
  .right-col {
    width: 100%;
    margin-bottom: 50px;
  }
  h2 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.7rem;
  }
  #contact-form p {
    width: 100%;
  }
  #contact_nom, #contact_mail, #contact_message, #submit-button {
    font-size: 0.65rem;
    width: 100%;
  }
  #submit-button {
    width: 7rem;
  }
  .theme-switch-wrapper {
    width: 250px;
  }
}