/** --------------------------------
 -- MENTIONS LÉGALES
-------------------------------- */

#mentions-legales {
    font-size: 0.9em;
}

#mentions {
    background-color: black;
    opacity: 0.75;
    padding-top: 50px;
    padding-bottom: 50px;
}