{% extends "front/layout/layout.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front') }}
    {#<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
        crossorigin="anonymous"/>#}
{% endblock %}

{% block body %}

    <!-- TOGGLE MENU
    ==============================-->
    {% include "front/layout/header.html.twig" %}

    <!-- OTOKTONE
    ==============================-->

    <div id="contact" class="w-100">
        <h1 class="m-5 text-uppercase text-white">Otoktone || Contact</h1>
        
        <div class="contact-container">
        <div class="left-col">
            <img class="logo" src=""/>
        </div>
        <div class="right-col">
            <div class="theme-switch-wrapper">
        </div>
            
            <h1>Me contacter</h1>
            <p>Laisser vos coordonnées et je vous recontacte dès que possible !</p>
            
            <form id="contact-form" method="post">
            <label for="name">Nom &amp; Prénom</label>
        <input type="text" id="name" name="name" placeholder="Votre nom" required>
            <label for="email">Adresse e-mail</label>
        <input type="email" id="email" name="email" placeholder="Votre adresse e-mail" required>
            <label for="message">Message</label>
        <textarea rows="6" placeholder="Votre message" id="message" name="message" required></textarea>
            <!--<a href="javascript:void(0)">--><button type="submit" id="submit" name="submit">Envoyer</button><!--</a>-->
        
        </form>
        <div id="error"></div>
        <div id="success-msg"></div>
        </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('front') }}
{% endblock %}