{% extends "front/layout/layout.html.twig" %}

{% block title %}Alexandre Desmot | Otoktone | Web Developpeur | Mentions légales{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front') }}
{% endblock %}

{% block body %}

    <!-- TOGGLE MENU
    ==============================-->
    {% include "front/layout/header.html.twig" %}

    <!-- SCROLL TO TOP -->
    {% include "front/layout/scroll-top.html.twig" %}

    <!-- OTOKTONE
    ==============================-->

    <div id="otoktone" class="w-100">
        <div class="header-logo">
            <img class="logo-otoktone" src="{{ asset('build/images/logo-otoktone.png') }}" alt="logo otoktone.fr alexandre desmot">
            <h1 id="mentions-legales" class="mt-5 ml-2 text-uppercase text-white">Otoktone | Mentions légales</h1>
        </div>

        <div id="img-bgd">
            <div id="mentions" class="m-4 text-white text-center">
                <div>
                    <h2>Alexandre Desmot</h2>
                    <p>alexandre.desmot@otoktone.fr</p>
                    <p>06.35.44.33.47</p>
                    <p>Vannes 56000</p>
                    <p>Étudiant OpenClassrooms - Formation développeur web junior</p>
                </div>
                <br>
                <div>
                    <h3>Hébergement | Otoktone.fr</h3>
                    <p>1&amp;1 IONOS SARL</p>
                    <p>7, place de la Gare - BP 70109</p>
                    <p>57201 SARREGUEMINES</p>
                </div>
                <br>
                <div>
                    <h3>Collecte des données | Otoktone.fr</h3>
                    <p>La collecte des données est effectuée via le service Google Analytics. Il est laissé au choix de l'utilisateur d'accepter ou non que ses informations soient collectées afin de suivre l'évolution du référencement.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('front') }}
    {{ encore_entry_script_tags('scroll-top') }}
{% endblock %}