{% extends "front/layout/layout.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front') }}
    {#<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
        crossorigin="anonymous"/>#}
{% endblock %}

{% block body %}

    <!-- TOGGLE MENU
    ==============================-->
    {% include "front/layout/header.html.twig" %}

    <!-- SCROLL TO TOP -->
    {% include "front/layout/scroll-top.html.twig" %}

    <!-- OTOKTONE
    ==============================-->

    <div id="otoktone" class="w-100">
        <div class="header-logo">
            <img class="logo-otoktone" src="{{ asset('build/images/logo-otoktone.png') }}" alt="logo otoktone.fr alexandre desmot">
            <h1 class="mt-5 ml-2 text-uppercase text-white">Otoktone | Concept</h1>
        </div>

        <div id="img-bgd">
        
            <div id="container">
                <div class="frame">
                    <span class="outline">
                        <span class="spacing">
                            <span class="frame-spacing">
                                <span class="image"></span>
                            </span>
                        </span>
                    </span>
                    
                    <div id="concept" class="text">
                        <h2 class="title">Alexandre Desmot</h2>
                        <h3 class="desc">Web Developer</h3>
                        <hr>
                            <div class="text-white">
                                
                            </div>
                            <p class="infos text-justify">Hello ! <br>
                            Je m'appelle Alexandre Desmot, je suis développeur web en Bretagne (Vannes - Morbihan). <br>
                            J'ai commencé mes études en étant attiré par le graphisme et les métiers de création. Après une reconversion je suis devenu développeur web junior auprès de l'organisme <a href="https://openclassrooms.com/">OpenClassrooms</a>.
                            
                            <br>
                            Depuis tout petit je suis curieux et intéressé par les nouvelles technologies, les univers de SF, que ce soit dans la littérature ou dans le cinéma. Les voyages se sont ajouté à cela, apportant de nouvelles variantes à mon imaginaire.
                            </p>

                        <div id="technos" class="text-white">
                            <p class="infos">
                                <span class="text-uppercase">Technologies utilisées</span> <br>
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-css3-alt"></i>
                                <i class="fab fa-js"></i>
                                <i class="fab fa-php"></i>
                                <i class="fab fa-symfony"></i>
                            </p>
                        </div>

                        <div class="text-white">
                            <p class="infos text-justify">
                                Otoktone.fr est un projet de longue date. <br> 
                                La première version fut élaborée à partir d'un template simple en HTML et CSS, c'était pour moi une première expérience dans laquelle j'ai pu apprendre à me familiariser avec ces différents langages informatiques. <br>
                                Le but de ce projet était, pour l'époque, l'intégration de ce template avec une version responsive.
                                <br>
                                Ensuite, ayant entamé une formation en tant que développeur web, je découvris d'autres manières de réaliser des applications web. Je fis une seconde version à l'aide de Bootstrap, intégrant ainsi le Javascript dans mon code.
                                <br>
                                Aujourd'hui c'est une toute nouvelle version, développée avec le framework Symfony, utilisant diverses technologies.
                                Le but de ce projet étant d'avoir une vitrine en ligne pour présenter mon travail et mes projets.
                                <br>
                                <br>
                            </p>
                        </div>
                    </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('front') }}
    {{ encore_entry_script_tags('scroll-top') }}
{% endblock %}