.table {
    margin: auto;
    background-color: var(--dk-gray-600);
}

.table th {
    text-transform: uppercase;
    color: var(--dk-gray-200);
}

.table td {
    color: var(--dk-gray-400);
}

.img-post {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    height: 80px;
}