/** --------------------------------
 -- NEW POST STYLE
-------------------------------- */

form {
    padding-top: 20px;
    width: auto;
}

#post_title {
    width: 50%;
}

#post_slug {
    width: auto;
}

#post_url {
    width: 50%;
}

#post_category {
    width: 50%;
}

.custom-file-label {
    width: 35%;
}