/** --------------------------------
 -- MENU STYLE
-------------------------------- */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  /*background: linear-gradient(135deg, rgba(29,96,164,1) 0%, rgba(34,100,99,1) 35%, rgba(84,133,111,1) 82%);*/
  background-image: url(../../../images/front/otoktone-circuits.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.side-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sidenav img {
  height: 25%;
  margin-bottom: 25px;
}
  
.sidenav a {
  margin: 8px 8px 8px 8px;
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 2px;
  border: 2px solid white;
  width: 200px;
}

.sidenav a:hover {
  color: #f1f1f14d;
  border: 2px solid #f1f1f14d;
}

#legal-mentions, #copyright {
  width: 50%;
  color: #818386;
  margin: auto;
  padding-top: 50px;
}

#copyright a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 16px;
  color: #818386;
  display: unset;
  transition: 0.3s;
  text-transform: capitalize;
  letter-spacing: unset;
  border: none;
}

.footer-social {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.footer-social a {
  border-radius: 50%;
  width: 50px;
  padding: 7px;
}

#linkedin {
  color: #0072b1;
}

#facebook {
  color: #4267B2;
}

#github {
  color: #4078c0;
}


@media only screen and (max-width: 800px) and (min-width: 500px) {
  .side-menu a {
    width: 165px;
  }
  #legal-mentions, #copyright {
    width: 85%;
  }
}




@media (max-width: 480px) {
  .sidenav {
    padding-top: 30px;
  }

  .sidenav img {
    height: 20%;
  }

  #legal-mentions {
    display: none;
  }

  .footer-social {
    margin-top: 25px;
  }

  #copyright {
    padding-top: 25px;
    width: 80%;
  }

  #copyright a {
    font-size: 0.7rem;
  }

  #copyright p {
    font-size: 0.7rem;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}